* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 1%;
}

body {
    display: flex;
    flex-direction: column;
}


header ul {
    list-style: none;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}

main {
    width: 100%;
}

.section-top {
    border: solid 1px grey;
    padding: 10px;
    
}

input, .search-button, .back-button {
    float: right;
}

button {
    margin-left: 10px;
}

.input-section {
    padding: 5px 0;
}

.input-form {
    overflow: auto;
}

.form-wrap {
    padding: 10px;
    /* padding-bottom: 20px; */
    text-align: left;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.search-wrap {
    padding: 10px;
    padding-bottom: 30px;
    width: 400px;
    margin: 0 auto;
    border-top: solid 1px grey;
}

.section-bot {
    overflow: auto;
    border-bottom: solid 1px grey;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
}

.unread-wrap {
    float: left;
    width: 50%;
    padding-left: 10px;
}

.bot-title {
    border-bottom: solid 1px grey;
}

.readed-wrap {
    float: right;
    text-align: left;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.book-container {
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px grey;
    border-radius: 10px;
}

.fa {
    margin-right: 20px;
}

.fa:hover {
    cursor: pointer;
}

footer {
    margin-top: auto;
}
